[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0"
twilio = "*"
pillow = "*"
django-modeltranslation = "*"

[dev-packages]

[requires]
python_version = "*"
