{% extends 'news/base.html' %}
{% load static %}

{% block title %} Foydalanuvchilar parolini tiklash {% endblock title %}

{% block content %}
    <h1>Parol tiklash</h1>
    <p>Parolingizni tiklash uchun email kiriting</p>
    {% if validlink %}
        <p>iltimos parolni 2 marotaba kiriting</p>
        <form method="post"> {% csrf_token %}
            {{ form.as_p }}
            <p><button type="submit"> Parolni almashtirish </button></p>
        </form>
    {% else %}
        <p> Siz noto'g'ri linkdan foydalandingiz </p>

    {% endif %}


{% endblock %}