{% extends 'news/base.html' %}
{% load static %}

{% block title %} Sport yangiliklari {% endblock title %}

{% block content %}
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="contact_area">

             <h1>{{ news.title }}</h1>
           <img src="{{ news.image.url }}" alt="" width="80%" >
            <p>{{ news.body | linebreaks}}</p>

        </div>
        </div>
              <div class="card-footer text-center">


                {% if request.user.is_authenticated and request.user.is_superuser %}


        | <a href="{% url 'update_view' news.slug %}">Taxrirlash </a>|
          <a href="{% url 'delete_view' news.slug %}"> O'chirish </a>|


                {% endif %}

<h3>Jami izohlar soni {{ comment_count }} ta</h3>
{% for comment in comments %}

    <div class="comments" style="padding: 10px">
    <p class="font-weight-bold">
        {{ comment.user }}
    <span class="text-muted font-weight-normal">
        {{ comment.created_time }}
    </span>
    </p>
    {{ comment.body | linebreaks }}
    </div>
{% endfor %}


<!--     </form>-->
    {% if user.is_authenticated %}
    <div class="col-md-8 card mb-4 mt-3">
     <div class="card-body">
         <h3>Izoh qoldirish</h3>
         <form method="POST" style="margin-top: 1.3em">{% csrf_token %}
             {{ comment_form.as_p }}
             <button type="submit" class="btn btn-primary btn-lg">
                 Yuborish
             </button>
         </form>
     </div>
    </div>
    {% else %}
    <div class="card-body">
    <p class="text-danger">Faqatgina ro'yhatdan o'tgan foydalanuvchilar izoh qoldirishi mumkin</p>
    <p>Izoh qoldirish uchun
        <a href="{% url 'user_register' %}" style="color: red">ro'yhatdan o'ting </a>
        yoki <a href="{% url 'login' %}" style="color: blue">Saytga kiring</a>
    </p>
    </div>
    {% endif %}





      </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>Popular Post</span></h2>
            <ul class="spost_nav">
              <li>
                <div class="media wow fadeInDown"> <a href="single_page.html" class="media-left"> <img alt="" src="{% static 'images//post_img1.jpg' %}"> </a>
                  <div class="media-body"> <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="single_page.html" class="media-left"> <img alt="" src="{% static 'images//post_img2.jpg' %}"> </a>
                  <div class="media-body"> <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="single_page.html" class="media-left"> <img alt="" src="{% static 'images//post_img1.jpg' %}"> </a>
                  <div class="media-body"> <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="single_page.html" class="media-left"> <img alt="" src="{% static 'images//post_img2.jpg' %}"> </a>
                  <div class="media-body"> <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                </div>
              </li>
            </ul>
          </div>
        </aside>
      </div>


    </div>
  </section>
{% endblock content %}